In [1]:
import pandas as pd
import numpy as np

In [15]:
df= pd.read_csv(r"C:\Users\aswin\Downloads\Fraud.csv")

In [3]:
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [4]:
print(df.isnull().sum())

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [5]:
print(df.type.value_counts())

type
CASH_OUT    2237500
PAYMENT     2151495
CASH_IN     1399284
TRANSFER     532909
DEBIT         41432
Name: count, dtype: int64

In [16]:
df["type"] = df["type"].map({"CASH_OUT": 1, "PAYMENT": 2, 
                                 "CASH_IN": 3, "TRANSFER": 4,
                                 "DEBIT": 5})
print(df.head())

   step  type    amount     nameOrig  oldbalanceOrg  newbalanceOrig  \
0     1     2   9839.64  C1231006815       170136.0       160296.36
1     1     2   1864.28  C1666544295        21249.0        19384.72
2     1     4    181.00  C1305486145          181.0            0.00
3     1     1    181.00   C840083671          181.0            0.00
4     1     2  11668.14  C2048537720        41554.0        29885.86

      nameDest  oldbalanceDest  newbalanceDest  isFraud  isFlaggedFraud
0  M1979787155             0.0             0.0        0               0
1  M2044282225             0.0             0.0        0               0
2   C553264065             0.0             0.0        1               0
3    C38997010         21182.0             0.0        1               0
4  M1230701703             0.0             0.0        0               0

In [18]:
df = df.drop(columns=['nameOrig','nameDest'])

In [19]:
matrix = df.corr()
print("Correlation matrix is : ")
print(matrix)

Correlation matrix is :
                    step      type    amount  oldbalanceOrg  newbalanceOrig  \
step            1.000000  0.012627  0.022373      -0.010058       -0.010299
type            0.012627  1.000000  0.198987       0.260418        0.270669
amount          0.022373  0.198987  1.000000      -0.002762       -0.007861
oldbalanceOrg  -0.010058  0.260418 -0.002762       1.000000        0.998803
newbalanceOrig -0.010299  0.270669 -0.007861       0.998803        1.000000
oldbalanceDest  0.027665  0.066255  0.294137       0.066243        0.067812
newbalanceDest  0.025888  0.079111  0.459304       0.042029        0.041837
isFraud         0.031578  0.016171  0.076688       0.010154       -0.008148
isFlaggedFraud  0.003277  0.003144  0.012295       0.003835        0.003776

                oldbalanceDest  newbalanceDest   isFraud  isFlaggedFraud
step                  0.027665        0.025888  0.031578        0.003277
type                  0.066255        0.079111  0.016171        0.003144
amount                0.294137        0.459304  0.076688        0.012295
oldbalanceOrg         0.066243        0.042029  0.010154        0.003835
newbalanceOrig        0.067812        0.041837 -0.008148        0.003776
oldbalanceDest        1.000000        0.976569 -0.005885       -0.000513
newbalanceDest        0.976569        1.000000  0.000535       -0.000529
isFraud              -0.005885        0.000535  1.000000        0.044109
isFlaggedFraud       -0.000513       -0.000529  0.044109        1.000000

In [20]:
df["isFraud"] = df["isFraud"].map({0: "No Fraud", 1: "Fraud"})
print(df.head())

   step  type    amount  oldbalanceOrg  newbalanceOrig  oldbalanceDest  \
0     1     2   9839.64       170136.0       160296.36             0.0
1     1     2   1864.28        21249.0        19384.72             0.0
2     1     4    181.00          181.0            0.00             0.0
3     1     1    181.00          181.0            0.00         21182.0
4     1     2  11668.14        41554.0        29885.86             0.0

   newbalanceDest   isFraud  isFlaggedFraud
0             0.0  No Fraud               0
1             0.0  No Fraud               0
2             0.0     Fraud               0
3             0.0     Fraud               0
4             0.0  No Fraud               0

In [21]:
from sklearn.model_selection import train_test_split
x = np.array(df[["type", "amount", "oldbalanceOrg", "newbalanceOrig"]])
y = np.array(df[["isFraud"]])

In [22]:
from sklearn.tree import DecisionTreeClassifier
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.30, random_state=50)
model = DecisionTreeClassifier()
model.fit(xtrain, ytrain)
print(model.score(xtest, ytest))

0.9996704711790636

In [23]:
fs = np.array([[2, 9839.64, 170136.0, 160296.36]])
print(model.predict(fs))

['No Fraud']